.video_container {
  padding: 16px 15px 15px;
}

.thumbnail {
  border: 1px solid white;
  &_btn {
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    border-radius: 4px;
    img {
      position: relative;
      z-index: -1;
      width: 100%;
      // width: 316.93px;
      // height: 178.26px;
      transition: all 0.3s;
      vertical-align: middle;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
    .video_content {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: rgba($color: #4a00e0, $alpha: 0.8);
      color: white;
      text-align: start;
      .title {
        padding: 10px;
      }
      .date {
        padding: 0px 10px 15px;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}
