.title {
  font-size: 2rem;
  padding-bottom: 15px;
  color: #474747;
  font-weight: normal;
  text-align: end;
}

.time {
  padding: 10px 0px;
  color: #474747;
  font-weight: normal;
  text-align: end;
  font-style: italic;
}

.source {
  color: #474747;
  padding-top: 10px;
  font-size: 14px;
  text-align: end;
}
.select_zone {
  justify-content: flex-end;
}
